<div class="container">
    <div class="row">

        <div class="col-xs-6 col-xs-offset-3">
            <div class="field image">
                <%= form_for @search_plant do |f| %>
                    <div class="search-plant-new-title">
                        <span class="search-plant-new-title-text"><strong><i class="fas fa-images"></i>植物の写真を選択する</strong></span>
                    </div>

                    <!-- // id "file"で、fileとdivを紐付けクリック時に連動 -->
                    <div id="img_field" onClick="$('#file').click()">

                        <!-- // 画像があるときは画像を表示する -->
                        <div class="row">
                            <div class="col-xs-7 col-xs-offset-1">
                                <p class="search-plant-image-text">クリックして画像を選択してください</p>
                            </div>
                            <div class="col-xs-4">
                                <i class="fas fa-image"></i>
                            </div>
                        </div>

                    </div>

                    <!-- // id "file"をつけ、「display:none;」で隠す -->
                    <%= f.attachment_field :plant_image, direct: true, class:"image", style:"display:none;", id:"file" %>

                    <div class="col-xs-4 col-xs-offset-4 search-plant-button">
                        <%= f.submit "画像を認識する", class:"btn btn-success" %>
                    </div>

                <% end %>
            </div>
        </div>

    </div>
</div>
