<div class="nested-fields">
	<div class="form-group">

		<div class="col-xs-3">
			<%= f.text_field :plant_name, class:"form-control plant_name_field" %>
		</div>
		<%= link_to_remove_association "削除", f, class:"btn btn-danger btn-sm" %>
		
	</div>
</div>