<div class="nested-fields well well-compact">
	<div class="form-group">

		<div class="col-xs-3">

			<%= f.attachment_field :garden_image, direct: true, class:"garden_image_field", id: "file" %>
		</div>

	</div>
</div>