<div class="cover-image">
	<div class="background-image">
		<p class="about-top-title"><strong>自分の庭を共有しよう</strong></p>
		<p class="about-top-text">Gardenia（ガーデニア）は、庭好きが集まるwebサイトです。</p>
	</div>
</div>


<div class="about-gardenia-bg">
	<div class="container">
		<div class="row">

			<div class="col-xs-8 col-xs-offset-2">

				<div class="what-is-gardenia">
					<span class="what-is-gardenia-title">Gardeniaとは？</span>
				</div>

				<p class="what-is-gardenia-text">Gardeniaは、庭好きが集まるwebサイトです。自身で手入れした庭を共有したり、困ったことがあれば相談することができます。また、庭を公開（オープンガーデン）することで、どんな庭を作っているかを直接見学してもらい、交流することもできます。</p><br>
				<p class="what-is-gardenia-text">既に自身の庭を作っている方も、これから庭の手入れを始めたい方も、Gardeniaをはじめてみませんか？
				</p>
			</div>
		</div>
	</div>
</div>


<!-- 背景色変える -->
<div class="about-gardenia-bg">
	<div class="container">
		<div class="row">

			<div class="col-xs-8 col-xs-offset-2">
				<div class="how-to-use-gardenia">
					<span class="how-to-use-gardenia-title">Gardeniaでできること</span>
				</div>

				<div class="how-to-use-content">
					<div class="col-xs-3 about-search">
						<p class="about-search-title">1.検索</p>
						<p class="about-icon"><i class="fas fa-search"></i></p>
						<p class="about-search-text">使っている庭木や場所を元に庭の検索ができます。</p>
					</div>

					<div class="col-xs-3 about-post">
						<p class="about-post-title">2.投稿</p>
						<p class="about-icon"><i class="fas fa-pen-nib"></i></p>
						<p class="about-post-text">ご自身で手入れしている庭を投稿し、共有できます。</p>
					</div>

					<div class="col-xs-3 about-open">
						<p class="about-open-title">3.公開</p>
						<p class="about-icon"><i class="fas fa-users"></i></p>
						<p class="about-open-text">投稿した庭を一般公開することができます。</p>
					</div>

					<div class="col-xs-3 about-reserve">
						<p class="about-reserve-title">4.予約</p>
						<p class="about-icon"><i class="fas fa-book"></i></p>
						<p class="about-reserve-text">公開されている庭を見学しに行くことができます。</p>
					</div>

			</div>
		</div>
	</div>
</div>