<div class="cover-image">
	<div class="background-image">
		<p class="about-top-title"><strong>自分の庭を共有しよう</strong></p>
		<p class="about-top-text">Gardenia（ガーデニア）は、庭好きが集まるwebサイトです。</p>
</div>
<div class="container">
	<div class="row">
	</div>
</div>