/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */



@import 'font-awesome-sprockets';
@import 'font-awesome';


@import "bootstrap-sprockets";
@import "bootstrap";


/*body全体に（footerを下部に固定するため）*/
body{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/*header画面*/
header{
	height: 70px;
	border-bottom: 1px solid #e7e2cd;
	margin-bottom: 11px;
}

.logo{
	margin-top: 5px;
}

.logo-leaf{
	font-size: 45px;
	color: #02A553;
	text-decoration: none !important;
}

.logo-text{
	font-size: 48px;
	color: #02A553;
	font-family: 'Amatic SC', cursive;
	margin-left: 10px;
}

.fa-pagelines{
	color: #02A553;
}

.input-group{
	margin-top: 20px;
}

.btn-default{
	background-color: #f7f5ee;
}

.header-nav{
	margin-top: 4px;
}

.header-current_user{
	position: relative;
	margin-left: 300px;
	font-size: 13px;
}

.header-menu{
	color: #242424;
	font-size: 14px;
	line-height: 23px;
	text-decoration: none !important;
}

.header-margin{
	margin-right: 5px;
	margin-left: 5px;
}

.fa-bell{
	font-size: 19px;
	position: absolute;
	z-index: 5;
	margin-left: 20px;
}

/*ログイン画面*/
.login-title{
	color: #584c27;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-title-text{
	margin-left: 110px;
}

.login-bg-color{
	background-color: #f7f5ee;
	border-radius: 10px;
	margin-top: 40px;
	padding-top: 25px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 30px;
}

.login-button-position{
	margin-top: 38px;
	margin-left: 115px;
}


/*サイドメニュー*/
.side-title{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;
	color: #584c27;
}

.icon-side{
	margin-left: 5px;
}

.mp-place-box-side{
	margin:0 auto;
}

.mp-place-side-text{
	color: #242424;
	border-radius: 13px;
	font-size: 13px;
	border: 1px solid #242424;
	line-height: 40px;
	padding: 4px 7px 4px 7px;

}

.side-open-garden{
	margin-left: 15px;
	margin-bottom: 10px;
}

.tag-label{
	color: #242424;
	background-color: #e7e2cd;
	border-radius: 5px;
	font-size: 14px;
	border-color: #dacfaf;
	line-height: 40px;
	padding: 6px 10px 6px 10px;
	margin-right: 5px;
}

.tag-label-link{
	text-decoration: none !important;
}

.search-plant-title-text{
	margin-top: 65px;
	margin-bottom: 25px;
}

.search-plant-link{
	line-height: 50px;
}

.before-login-header{
	margin-top: 20px;
	margin-left: 100px;
}


/*フッター用*/
footer{
	width: 100%;
	height: 120px;
	background-color: #6D3D1E;
	color: #F2E0D7;
	position: absolute;/*←bodyのrelativeから見て絶対位置*/
    bottom: 0;
}

.footer-box{
	text-align: center;
}

.logo-footer{
	padding-top: 10px;
}