// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like-post-title{
	margin-top: 40px;
	margin-bottom: 45px;
	color: #584c27;
	font-size: 20px;
	margin-left: 30px;
}

.fa-thumbs-up{
	margin-right: 10px;
}