// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*通知の円*/
.n-circle{
	position: absolute;
	color: red;
	margin-top: 7px;
	margin-left: 30px;
	z-index: 2;
}