/*画像投稿のデザイン*/

#upload_image{
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#upload_image:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#upload_image i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#upload_image i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#upload_image:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

/*庭を公開時の情報を初期設定で非表示にする*/
/*#reservation_info{
  display: none;
}*/

/*#reservation-day-input{
  display: none;
}*/

.prev-btn{
  cursor: pointer;
  display: none;
}

.next-btn{
  cursor: pointer;
}

.slide{
  display: none;
}

.active{
  display: block;
}

.delete-open-garden{
  cursor: pointer;
}