


/*aboutページ*/

.background-image{
  background-image: image-url("IMG_0460.jpg");
  background-position: left 10% center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.about-top-title{
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 160px;
  font-size: 55px;
}

.about-top-text{
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.about-gardenia-bg{
  height: 400px;
}

.about-gardenia-bg-bottom{
  height: 400px;
  margin-bottom: 160px;
}


.what-is-gardenia{
  margin-top: 80px;
  margin-bottom: 15px;
  text-align: center;
}

.what-is-gardenia-title{
  font-size: 45px;
  color: #584c27;
}

.what-is-gardenia-text{
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}

.how-to-use-gardenia{
  margin-top: 35px;
  padding-top: 70px;
  margin-bottom: 50px;
  border-top: 1px solid #e7e2cd;
  text-align: center;
}

.how-to-use-gardenia-title{
  font-size: 45px;
  color: #584c27;
}

.about-icon{
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.about-search-title{
  text-align: center;
  font-size: 20px;
}

.about-post-title{
  text-align: center;
  font-size: 20px;
}

.about-open-title{
  text-align: center;
  font-size: 20px;
}

.about-reserve-title{
  text-align: center;
  font-size: 20px;
}

.about-search-text{
  line-height: 24px;
}

.about-post-text{
  line-height: 24px;
}

.about-open-text{
  line-height: 24px;
}

.about-reserve-text{
  line-height: 24px;
}







/*index（トップページ）*/
.side-menu-left-line{
  border-left: 1px solid #e7e2cd;
}

.following-post-title{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #584c27;
  font-size: 20px;
}

.not-yet-follow{
  margin-left: 30px;
  margin-bottom: 200px;
  font-size: 15px;
}

.follow-post-index{
  display: flex;
  flex-wrap: wrap;
}


.post-index{
  border-right: 1px solid #e7e2cd;
  border-left: 1px solid #e7e2cd;
  border-bottom: 1px solid #e7e2cd;
  width: 200px;
  margin-left: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.index-profile-image-position{
  padding-top: 8px;
}

.index-post-image{
  border-radius: 2px;
  margin-left: 8px;
}

.profile-image-link{
  text-decoration: none !important;
}

.index-profile-image{
  margin-left: 8px;
  border-radius: 50%;
}

.profile-image-name{
  color: #242424;
  padding-left: 7px;
}

.tags-list-index{
  margin-top: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.post-tag-text{
  color: #242424;
  background-color: #f7f5ee;
  border-radius: 9px;
  font-size: 13px;
  border: 1px solid #dacfaf;
  line-height: 40px;
  padding: 5px 9px 5px 9px;
  margin-right: 8px;
}

.popular-post-title{
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #584c27;
  font-size: 20px;
}

.popular-post-index{
  display: flex;
  flex-wrap: wrap;
}

/*ログイン前*/
.logout-popular-post-title{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #584c27;
  font-size: 20px;
}

.new-post-title{
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 15px;
  color: #584c27;
  font-size: 20px;
}

.new-post-index{
  display: flex;
  flex-wrap: wrap;
}

.map-title{
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #584c27;
  font-size: 23px;
  text-align: center;
}

#map{
  height: 500px;
  width: 900px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 30px;
}







/*検索結果表示search-result*/
.search-result-title{
  margin-top: 30px;
  margin-bottom: 60px;
  color: #584c27;
  font-size: 20px;
  background-color: #f7f5ee;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f1ece0;
  border-bottom: 1px solid #f1ece0;
}








/*投稿詳細ページshow*/

.show-post-image{
  border-radius: 4px;
  margin-top: 40px;
}

.change-btn-wrapper{
  margin-bottom: 40px;
}

.change-btn{
  font-size: 25px;
}

.prev-btn{
  cursor: pointer;
  display: none;
  position: absolute;
  margin-left: 20px;
}

.next-btn{
  cursor: pointer;
  position: absolute;
  margin-left: 360px;
}

.slide{
  display: none;
}

.active{
  display: block;
}

.like-button{
  font-size: 18px;
}

.like-link{
  text-decoration: none !important;
}

.like-text{
  margin-left: 10px;
  font-size: 12px;
}

.post-place{
  margin-top: 15px;
}

.post-place-text{
  color: #242424;
  border-radius: 13px;
  font-size: 13px;
  border: 1px solid #242424;
  line-height: 40px;
  padding: 6px 11px 6px 11px;
}

.show-profile-image{
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.show-profile-name{
  margin-left: 20px;
  font-size: 17px;
  color: #242424;
}

.profile-link{
  text-decoration: none !important;
}

.edit-post-garden-text{
  margin-left: 170px;
}

.post-planted-garden{
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 7px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-planted-garden-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-tree{
  margin-right: 5px;
}

.post-planted-garden-content{
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}


.post-tag{
  margin-top: 20px;
  margin-left: 10px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-tag-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-tag{
  margin-right: 5px;
}

.post-tag-text-show{
  color: #242424;
  background-color: #f7f5ee;
  border-radius: 9px;
  font-size: 11px;
  border: 1px solid #dacfaf;
  line-height: 40px;
  padding: 4px 7px 4px 7px;
  margin-left: 6px;
  margin-top: 3px;
}

.post-tag-content{
  width: 85%;
  margin: 0 auto;
}

.post-area{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-area-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-layer-group{
  margin-right: 5px;
}

.post-area-content{
  width: 70%;
  margin: 0 auto;
}

.post-expence{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-expence-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-dollar-sign{
  margin-right: 5px;
}

.post-expence-content{
  width: 70%;
  margin: 0 auto;
}

.post-problem{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-problem-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-exclamation-triangle{
  margin-right: 5px;
}

.post-problem-content{
  width: 90%;
  margin: 0 auto;
}

.post-solution{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
  color: #242424;
  background-color: #e7e2cd;
  border-radius: 5px;
  font-size: 12px;
  border-color: #dacfaf;
}

.post-solution-title{
  line-height: 25px;
  margin-left: 15px;
}

.fa-lightbulb{
  margin-right: 5px;
}

.post-solution-content{
  width: 90%;
  margin: 0 auto;
}


.top-line-of-comment{
  border-top: 1px solid #e7e2cd;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.comment-title{
  font-size: 19px;
  color: #584c27;
  font-size: 18px;;
  margin-left: 115px;
  margin-bottom: 30px;
}

.not-yet-comment{
  margin-left: 115px;
}

.comment-image-position{
  margin-left: 10px;
  margin-bottom: 30px;
}

.comment-user-name{
  margin-top: 15px;
}

.comment-delete{
  margin-left: 260px;
}

.comment-content{
  margin-top: 10px;
  font-size: 14px;
}

.comment-input{
  margin-top: 50px;
}

.comment-button{
  margin-top: 20px;
  margin-bottom: 80px;
}

.reserve-box{
  border-left: 1px solid #e7e2cd;
  margin-top: 30px;
  margin-left: 80px;
}

.open-status-box{
  height: 45px;
  width: 100px;
  background-color: #02A553;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
}

.open-status-text{
  color: white;
  font-size: 22px;
  line-height: 45px;
}

.not-open-status-box{
  height: 45px;
  width: 100px;
  background-color: #6D3D1E;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
}

.not-open-status-text{
  color: white;
  font-size: 22px;
  line-height: 45px;
}

.not-yet-open{
  margin: 20px 0;
  text-align: center;
}

.open-now{
  margin: 20px 0;
  text-align: center;
}

.edit-open-garden{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 10px;
}

#calendar_reservation{
  margin-top: 50px;
}

#calendar_reservation .fc-event{
  height: 20px !important;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

#calendar_reservation .fc-toolbar{
  margin-left: 65px;
}

.to-reservation-page{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
}



/*post_garden new新規投稿画面*/
.new-post-garden-title{
  margin-top: 30px;
  margin-left: 30px;:
  margin-right: 10px;
}

.new-post-garden-title{
  color: #584c27;
  font-size: 20px;
}

.fa-pencil-ruler{
  color: #584c27;
  font-size: 20px;
  margin-right: 10px;
}

.new-post-bg-color{
  border: 1px solid #f7f5ee;
  border-radius: 10px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.new-post-image-add-position{
  margin-top: 265px;
  margin-left: 10px;
}

.new-post-image-delete-position{
  margin-left: 245px;
  margin-top: 10px;
}

.new_img_field {
  font-size: 11px;
  margin-top: 5px;
  border: dashed 3px #dacfaf;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f7f5ee;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  margin-bottom: 10px;
}

.preview{
  height: 300px;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
}

.new-image-text{
  margin-top: 55px;
}

.new_img_field i {
  font-size: 50px;
  color: #aaa;
  line-height: 130px;
  transition: 0.3s ease-out;
}

.new_img_field:hover {
  background-color: #e7e2cd;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

.new_img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.new_img_field:hover .new-image-text {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.auto-keyword{
  display: none;
  margin-top: 20px;
  margin-left: 10px;
}

.new-post-content{
  margin-top: 30px;
}

.new-post-place{
  margin-top: 20px;
}

.new-post-tagging{
  margin-top: 20px;
}

.bootstrap-tagsinput{
  width: 470px;
}

.new-post-area{
  margin-top: 20px;
}

.new-post-expence{
  margin-top: 20px;
}

.new-post-planted-garden{
  margin-top: 20px;
}

.new-post-problem{
  margin-top: 20px;
}

.new-post-solution{
  margin-top: 20px;
  margin-bottom: 50px;
}

.bottom-blank{
  margin-bottom: 100px;
}



/*new-open-garden庭の新規公開*/
.reservation_info{
  margin-left: 5px;
  color: #584c27;
  font-size: 21px;
  margin-bottom: 35px;
  margin-top: 30px;
}

.fa-door-closed{
  margin-right: 10px;
}

.modal-button-position{
  margin-left: 230px;
}

.new-open-info-position{
  margin-top: 50px;
}

.new-open-background{
  background-color: #f7f5ee;
  border-radius: 10px;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.new-open-postal-code-position{
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-open-address-position{
  margin: 20px 0;
}
