// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*新規予約画面*/
.reservation-new-title{
	margin-left: 5px;
	color: #584c27;
	font-size: 21px;
	margin-bottom: 35px;
	margin-top: 30px;
}

.fa-book{
	margin-right: 10px;
}

.reservation-new-date{
	margin-bottom: 20px;
}

select#reservation_r_start_datetime_1i{
	pointer-events : none;
}

select#reservation_r_start_datetime_2i{
	pointer-events : none;
}

select#reservation_r_start_datetime_3i{
	pointer-events : none;
}

select#reservation_r_end_datetime_1i{
	pointer-events : none;
}

select#reservation_r_end_datetime_2i{
	pointer-events : none;
}

select#reservation_r_end_datetime_3i{
	pointer-events : none;
}

.reserve-date-select-position{
	margin-top: 30px;
}

.reservation-new-info{
	background-color: #f7f5ee;
	border-radius: 10px;
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-bottom: 100px;
}

.reservation-message-position{
	margin-top: 15px;
}

.reservation-info{
	background-color: #f7f5ee;
	border-radius: 10px;
	margin-top: 40px;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.reservation-content-postal-code-text{
	margin-left: 8px;
}

.reservation-content-address-text{
	margin-left: 12px;
}

.reservation-content-entrance-fee-position{
	margin: 20px 0;
}

.reservation-content-entrance-fee-text{
	margin-left: 12px;
}

.reservation-content-announce-text{
	margin-left: 12px;
	margin-right: 30px;
}

.reservation-confirm{
	margin-top: 30px;
	margin-left: 130px;
}


/*予約一覧（リクエスト送信側）*/
.request-reservations-index-title{
	margin-left: 5px;
	color: #584c27;
	font-size: 21px;
	margin-bottom: 35px;
	margin-top: 30px;
}

.fa-running{
	margin-right: 10px;
}

.request-color-example{
	margin-bottom: 20px;
}

.not-check-color-example{
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	border-radius: 5px;
	padding: 1px 27px;
}

.accept-color-example{
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	padding: 1px 27px;
	margin-left: 10px;
}

.cancel-color-example{
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	border-radius: 5px;
	padding: 1px 27px;
	margin-left: 10px;
}

.request-reservation-day{
	margin-left: 275px;
}

.panel-content{
	margin-top: 20px;
}

.request-reservation-content-position{
	margin-top: 15px;
}



/*予約一覧（受付側）*/
.accept-reservations-index-title{
	margin-left: 5px;
	color: #584c27;
	font-size: 21px;
	margin-bottom: 35px;
	margin-top: 30px;
}

.fa-home{
	margin-right: 10px;
}






/*予約完了ページ*/
.done-reservation-title-position{
	margin-left: 5px;
	color: #584c27;
	font-size: 21px;
	margin-bottom: 35px;
	margin-top: 30px;
	text-align: center;
}

.fa-user-check{
	margin-right: 10px;
}

.done-reservation-text-position{
	text-align: center;
}

.done-reservation-text{
	line-height: 30px;
}




/*予約リクエスト承認画面*/
.approve-reservation-title{
	margin-left: 5px;
	color: #584c27;
	font-size: 21px;
	margin-bottom: 35px;
	margin-top: 30px;
}

.fa-leaf{
	margin-right: 10px;
}

.approve-reservation-content{
	color: #584c27;
	font-size: 20px;
	margin-bottom: 15px;
}

.approve-reservation-info{
	background-color: #f7f5ee;
	border-radius: 10px;
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-bottom: 100px;
}


.approve-reservation-name{
	margin: 20px 0;
}

.approve-reservation-num{
	margin: 20px 0;
}
