<div class="col-xs-2">
	<div class="popular-tag-index">
		<div class="side-title">
			<p class="popular-tag-index-title"><strong>よく使うワード</strong><i class="fas fa-tag icon-side"></i></p>
		</div>
		<% @tags.each do |tag| %>
			<%= link_to search_result_path(tag_name: tag.name), class:"tag-label-link" do %>
				<span class="label tag-label"><%= tag %></span>
			<% end %>
		<% end %>
	</div>

	<div class="side-title">
		<p class="search-plant-title-text"><strong>この植物の名前は？</strong></p>
		<%= link_to "調べる >", new_search_plant_path, class:"btn btn-success" %>
	</div>
</div>